<main>
  <div class="m-auto w-25 mt-5 mb-5 bg-white rounded">
    <img src="/media/logoOK.jpg" alt="ConfirmLogo" class="w-25" />
    <h2 class="text-center text-success p-2">COMPRA REALIZADA EXITOSAMENTE!!!</h2>
  </div>
  <p class="text-center text-warning fs-3">Muchas gracias por su compra!😊</p>
  <form class="w-25 m-auto my-5">
    <button
      id="home"
      type="button"
      class="w-auto btn btn-success mt-3 mb-3"
    >Back to home</button>
  </form>
</main>

<script src="/scripts/confirmed.js"></script>