<main>
  <img src="/media/logo2.jpg" alt="logo" class="w-100" />
  <div class="mt-4 mb-2">
    <h2 class="m-auto">Bienvenidos a <strong>Max Power Parts.srl</strong>.</h2>
    <p class="fs-4 text-center">Nos dedicamos a la venta de autopartes y
      motopartes para cúalquier vehiculo, nacional o importado, trabajando con
      las marcas más reconocidas en todo el mundo.</p>
  </div>
  <div class="d-flex flex-wrap justify-content-evenly ">
    {{#each prod}}
      <div class="card bg-secondary m-3" style="width: 18rem;">
        <img src="{{this.photo}}" class="card-img-top" alt="Product Image" />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
        </div>
      </div>
    {{/each}}
  </div>
</main>