<main>
  <h2 class="mt-5 mb-5 text-center">Log In please</h2>
  <form class="w-25 m-auto my-5">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" required />
    <div class="my-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" required />
    </div>
    <button type="button" class="btn btn-success m-3">Log In</button>
  </form>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>