<main>
<div id="products" class="d-flex flex-wrap justify-content-evenly">
  {{#each products}}
    <div class="card bg-secondary m-3" style="width: 18rem;">
      <img src="{{this.photo}}" class="card-img-top" alt="Product Image" />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-description">{{this.price}} </p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
  {{/each}}
</div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>  