<main>
  <form class="w-25 m-auto my-5">
    <div class="my-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="Name" required />
    </div>
    <div class="my-3">
      <label for="Photo" class="form-label">Photo</label>
      <input type="text" class="form-control" id="Photo" />
    </div>
    <div class="my-3">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" required />
    <div class="my-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" required />
    </div>
    <button id="register" type="button" class="w-100 btn btn-success mt-3">Enviar</button>
    <button id="google" type="button" class="w-100 btn btn-success mt-3">Register with Google</button>
  </form>
</main>

<script src="/scripts/register.js"></script>
<script src="/scripts/third.js"></script>