<main>
  <form class="w-25 m-auto my-5">
    <div class="my-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="Name" required />
    </div>
    <div class="my-3">
      <label for="Photo" class="form-label">Photo</label>
      <input type="text" class="form-control" id="Photo" required />
    </div>
    <div class="my-3">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" required />
    <div class="my-3">
      <label for="Password" class="form-label">Password</label>
      <input type="email" class="form-control" id="Password" required />
    </div>
    <button type="button" class="btn btn-success m-3">Enviar</button>
  </form>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>