<main>
  <h2 class="mt-5 mb-5 text-center text-warning">Reset password</h2>
  <form class="w-25 m-auto my-5">
    <div class="mt-3 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="emailReset" placeholder="type your email..." required />
    </div>
    <button id="Send" type="button" class="w-100 btn btn-success mt-3 mb-3">Send</button>
  </form>
</main>

<script src="/scripts/reset.js"></script>