<main>
  <h2 class="mt-5 mb-5 text-center">Verify account</h2>
  <form class="w-25 m-auto my-5">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" required />
    <div class="my-3">
      <label for="Code" class="form-label">Code</label>
      <input type="string" class="form-control" id="verifiedCode" required />
    </div>
    <button id="verify" type="button" class="w-100 btn btn-success mt-3 mb-3">Verify</button>
  </form>
</main>

<script src="/scripts/verify.js"></script>
